.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  gap: 24px;
  align-items: center;
}

.galleryItem {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
  display: flex;
  align-items: center;
}

.galleryItem:hover {
  transform: scale(1.04);
  transition: transform 250ms ease-in-out;
}

/* @media (prefers-color-scheme: light) {
  .galleryItem {
    border: 1px solid rgb(128, 128, 128, 0.1);
  }
} */
